tools/textgenerator/ftp-config.js
tools/textgenerator/input/
tools/textgenerator/node_modules
tools/utilities/
tools/_old/
content/texts/
build/
app/content/texts/
!app/content/texts/README.md
.idea
.DS_Store
npm-debug.log
