tools/textgenerator/ftp-config.js
tools/textgenerator/input/
tools/textgenerator/node_modules/*
!tools/textgenerator/node_modules/*.js
!tools/textgenerator/node_modules/unfolding-word
tools/utilities/
tools/_old/
content/texts/
build/
app/content/texts/*
!app/content/texts/README.md
.idea
*.iml
.DS_Store
npm-debug.log
